// Import Variables
@use "../sass/helpers/variables" as *;

/* - Start Plans Page - */
.plans-page {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));

    .plan {
        .top {
            border: 3px solid $white-color;
            outline: 3px solid transparent;
        }

        &.green .top {
            outline-color: $green-color;
        }

        &.blue .top {
            outline-color: $blue-color;
        }

        &.orange .top {
            outline-color: $orange-color;
        }

        .price {
            font-size: 40px;

            span {
                top: 0;
                left: -20px;
            }

        }

        ul li {
            padding: 15px 0;
            display: flex;
            align-items: center;
            font-size: 15px;
            border-bottom: 1px solid #eee;

            .yes {
                color: $green-color;
            }

            i:not(.yes, .help) {
                color: $red-color;
            }

            i:first-child {
                font-size: 18px;
                margin-right: 5px;
            }

            .help {
                color: $grey-color;
                margin-left: auto;
                cursor: pointer;
            }
        }
    }
}

/* - End Plans Page - */