// Start Head
.head.bg-white.p-15.between-flex
    .search.p-relative
       input.p-10.border-ccc.rad-10.ml-5.pl-30(type='search' placeholder='Type A Keyword')
    .icons.d-flex.align-center
        span.notification.p-relative
            i.fa-regular.fa-bell.fa-lg
        img.ml-15(src='imgs/avatar.png' alt='')
// End Head