/* - Start Components - */
.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
  }
  
  /* - End Components - */