/* - Start Padding + Margin - */
.p {
    &-5 {
        padding: 5px;
    }

    &-10 {
        padding: 10px;
    }

    &-15 {
        padding: 15px;
    }

    &-20 {
        padding: 20px;
    }

    &t-10 {
        padding-top: 10px;
    }

    &t-15 {
        padding-top: 15px;
    }

    &t-20 {
        padding-top: 20px;
    }

    &b-10 {
        padding-bottom: 10px;
    }

    &b-15 {
        padding-bottom: 15px;
    }

    &b-20 {
        padding-bottom: 20px;
    }

    &l-15 {
        padding-left: 15px;
    }

    &l-30 {
        padding-left: 30px;
    }
}

.m {
    &-auto {
        margin: auto;
    }

    &-0 {
        margin: 0;
    }

    &-15 {
        margin: 15px;
    }

    &-20 {
        margin: 20px;
    }

    &t-0 {
        margin-top: 0;
    }

    &t-5 {
        margin-top: 5px;
    }

    &t-10 {
        margin-top: 10px;
    }

    &t-15 {
        margin-top: 15px;
    }

    &t-20 {
        margin-top: 20px;
    }

    &t-25 {
        margin-top: 25px;
    }

    &r-0 {
        margin-right: 0;
    }

    &r-5 {
        margin-right: 5px;
    }

    &r-10 {
        margin-right: 10px;
    }

    &r-15 {
        margin-right: 15px;
    }

    &r-20 {
        margin-right: 20px;
    }

    &m-auto {
        margin-bottom: auto;
    }

    &b-5 {
        margin-bottom: 5px;
    }

    &b-10 {
        margin-bottom: 10px;
    }

    &b-15 {
        margin-bottom: 15px;
    }

    &b-20 {
        margin-bottom: 20px;
    }

    &b-25 {
        margin-bottom: 25px;
    }

    &l-auto {
        margin-left: auto;
    }

    &l-0 {
        margin-left: 0;
    }

    &l-5 {
        margin-left: 5px;
    }

    &l-10 {
        margin-left: 10px;
    }

    &l-15 {
        margin-left: 15px;
    }

    &l-20 {
        margin-left: 20px;
    }

    &l-40 {
        margin-left: 40px;
    }
}

/* - End Padding + Margin - */