/* - Start Width + Height - */
.w {
    &-full {
      width: 100%;
    }
  
    &-100 {
      width: 100px;
    }
  
    &-fit {
      width: fit-content;
    }
  }
  
  .h {
    &-full {
      height: 100%;
    }
  
    &-100 {
      height: 100px;
    }
  }
  
  /* - End Width + Height - */